.story__wrapper {
  min-width: 280px;
  max-width: 960px;
  margin: 0 auto;
}

.story__invitation {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0 20px;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
}

.invitation-subtext {
  display: none;
}

//name-block

.name-block__wrapper {
  min-width: 280px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px 40px;
}

.input-label {
  margin-left: 20px;
  margin-bottom: 10px;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form-field {
  width: 100%;
  margin-bottom: 15px;
  padding: 18px 20px;

  border: 2px solid #e5e5e5;
  outline: none;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;

    &--margin-bottom {
      margin-bottom: 0;
    }

    &:hover {
      border: 2px solid #283645;
    }

    &:focus {
      border: 2px solid #d22856;
    }

    &:focus::placeholder {
      color: transparent;
    }
}

//progress-block

.progress-block {
  background-color: #f2f2f2;
}

.progress-block__wrapper {
  min-width: 280px;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

.progress-block__content {
  padding: 0;

  border: none;
}

.progress-block__title {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.progress-block__modules {
  display: flex;
  flex-direction: column;
}

.progress-block__module {
  display: flex;
  flex-direction: column;
}

.checkbox-label {
  position: relative;

  margin-bottom: 43px;
  padding: 5px 0 5px 70px;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  text-transform: none;

  cursor: pointer;
  outline: none;

    &--margin-bottom {
      margin-bottom: 0px;
    }
  }

.form-checkbox {
  display: none;
}

.form-checkbox + .checkbox-label__identificator {
  position: absolute;
  left: 0;
  top: 0;

  width: 38px;
  height: 36px;

  border: 2px solid #e5e5e5;
  border-radius: 3px;
  background: #ffffff;
}

.form-checkbox + .checkbox-label__identificator::after {
  content: "";
  position: absolute;

  display: none;
  width: 36px;
  height: 38px;

  background: url("../img/checkbox.svg") no-repeat;
  background-position: center 8px;
  background-size: 60%;
}

.form-checkbox:checked + .checkbox-label__identificator::after {
  display: block;
}

.form-checkbox:hover + .checkbox-label__identificator {
  border: 2px solid #283645;
}

.form-checkbox:checked:hover + .checkbox-label__identificator {
  border: 2px solid #283645;
}

.form-checkbox:active + .checkbox-label__identificator {
  border: 2px solid #d22856;
}

.form-checkbox:active + .checkbox-label__identificator::after {
  display: block;
}

.form-checkbox:checked:active + .checkbox-label__identificator {
  border: 2px solid #d22856;
}

.form-checkbox:checked:active + .checkbox-label__identificator::after {
  display: none;
}

//contact-block

.contact-block__wrapper {
  min-width: 280px;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}

.contact-block__content {
  padding: 0;

  border: none;
}

.contact-block__title {
  display: none;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.form-field--margin-bottom {
  margin-bottom: 0;
}

//app-block

.app-block {
  background-color: #f2f2f2;
}

.app-block__wrapper {
  min-width: 280px;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

.app-block__content {
  padding: 0;

  border: none;
}

.app-block__items {
  display: flex;
  flex-direction: column;
}

.app-block__title {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.radio-label {
  position: relative;

  margin-bottom: 35px;
  padding: 11px 0 11px 70px;

  color: #283645;

  cursor: pointer;
  outline: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

.form-radio {
  display: none;
}

.form-radio + .radio-label__identificator {
  position: absolute;
  left: 0;
  top: 0;

  display: block;
  width: 36px;
  height: 36px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.form-radio:checked + .radio-label__identificator::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;

  width: 14px;
  height: 14px;
  margin-left: -7px;
  margin-top: -7px;

  border-radius: 50%;
  background-color: #d22856;
}

.form-radio:hover + .radio-label__identificator {
  border: 2px solid #283645;
}

.form-radio:active + .radio-label__identificator {
  border: 2px solid #d22856;
}

.form-radio:active + .radio-label__identificator::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;

  width: 14px;
  height: 14px;
  margin-left: -7px;
  margin-top: -7px;

  border-radius: 50%;
  background-color: #d22856;
}

.form-radio:checked:hover + .radio-label__identificator {
  border: 2px solid #283645;
}

.form-radio:checked:active + .radio-label__identificator {
  border: 2px solid #d22856;
}

.form-radio:checked:active + .radio-label__identificator::after {
  display: none;
}

//text-block

.text-block__wrapper {
  min-width: 280px;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

.text-block__content {
  padding: 0;

  border: none;
}

.text-block__title {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.form-area {
  width: 100%;
  min-height: 200px;
  padding: 20px;

  border: 2px solid #e5e5e5;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;

  outline: none;

    &:hover {
      border: 2px solid #283645;
    }

    &:focus {
      border: 2px solid #d22856;
    }

    &:focus::placeholder {
      color: transparent;
    }
}

.form-confirm__wrapper {
  min-width: 280px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
}

.button--form {
  display: inline-block;
  width: 100%;
  margin-bottom: 35px;
  padding: 20px;

  background-color: #2aab6d;
  border: none;
  border-radius: 3px;
  outline: none;

  font-family: "opensansbold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  cursor: pointer;

    &:hover {
      background: #1c9b5e;
    }

    &:active {
      color: #7dbd99;
    }
}

.required-fields {
  display: block;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
  text-align: center;
}

.star {
  color: #d22856;
}

.required-fields__subtext {
  display: none;
}

@media screen and (min-width: 660px) {
  .story__invitation {
    margin-top: 90px;
    margin-bottom: 70px;
    padding: 0 50px;

    font-family: "opensans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    text-align: center;
  }

  .invitation-subtext {
    display: block;
  }

  .form {
  display: flex;
  flex-direction: column;
  }

  .form-field {
    margin-bottom: 50px;
    padding: 15px 20px;
  }

  .form-field--margin-bottom {
    margin-bottom: 0;
  }

  .name-block__item {
    display: flex;
  }

  .name-block__item .input-label {
    margin: 0;
    margin-top: 15px;
    margin-right: 20px;
  }

  .progress-block {
    order: 3;

    background-color: #ffffff;
  }

  .progress-block__wrapper {
    padding-bottom: 0;
  }

  .progress-block__content {
    padding-bottom: 45px;
  }

  .progress-block__content,
  .contact-block__content,
  .app-block__content,
  .text-block__content {
    padding-left: 60px;
    padding-right: 60px;

    border: 2px solid #e5e5e5;
  }

  .progress-block__title,
  .contact-block__title,
  .app-block__title,
  .text-block__title {
    padding: 0 25px;
  }

  .progress-block .checkbox-label {
    padding-left: 60px;
  }

  .contact-block {
    order: 2;
  }

  .contact-block__title {
    display: block;
  }

  .contact-block__wrapper {
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  .contact-block .input-label {
    margin-bottom: 30px;
  }

  .contact-block .form-field--margin-bottom {
    margin-bottom: 0px;
  }

  .contact-block .form-field {
    padding-right: 80px;

      &--phone-icon {
        background: url(../img/phone.png) no-repeat;
        background-position: right center;
      }

      &--mail-icon {
        background: url(../img/mail.png) no-repeat;
        background-position: right center;
      }
  }

  .contact-block__module {
    display: flex;
    flex-direction: column;
  }

  .contact-block__module .form-field {
    order: -1;

    margin-bottom: 10px;
  }

  .app-block {
    order: 1;

    background-color: #ffffff;
  }

  .app-block__wrapper {
    padding-top: 20px;
  }

  .app-block__content {
    padding-bottom: 45px;
  }

  .app-block__title {
    padding-bottom: 10px;
  }

  .radio-label {
    padding-left: 60px;
  }

  .text-block {
    order: 4;
  }

  .text-block__wrapper {
    padding-top: 10px;
    padding-bottom: 60px;
  }

  .text-block__content {
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 45px;
  }

  .form-confirm {
    order: 5;
  }

  .form-confirm__wrapper {
    display: flex;
    flex-direction: row;

    padding-bottom: 20px;
  }

  .button--form {
    width: auto;
    margin-right: auto;
    padding: 20px 60px;
  }

  .required-fields {
    margin-top: 25px;
  }

}

@media screen and (min-width: 960px) {
    .form {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .name-block {
      width: 450px;
      margin-right: auto;
    }

    .name-block__wrapper {
      margin: 0;
      margin-right: 1px;
      margin-top: 15px;
      margin-left: 20px;
      padding: 0;
    }

    .app-block {
      width: 450px;
    }

    .app-block__wrapper {
      margin: 0;
      padding: 0;
      margin-left: 1px;
      margin-right: 20px;
    }

    .app-block__content {
      padding-left: 20px;
      padding-right: 20px;
    }

    .app-block__title {
      margin-bottom: 40px;
    }

    .app-block .radio-label__identificator {
      margin-left: 60px;
    }

    .app-block .radio-label {
      padding-left: 120px;
    }

    .contact-block {
      flex-grow: 1;
    }

    .contact-block__wrapper {
      margin-top: 30px;
      padding-bottom: 0;
    }

    .contact-block__content {
      padding-left: 50px;
      padding-right: 50px;
    }

    .contact-block__modules {
      display: flex;
    }

    .contact-block__module {
      width: 50%;
      margin-right: 60px;

        &:last-child {
          margin-right: 0;
        }
    }

    .contact-block__module .input-label {
      margin-bottom: 10px;
    }

    .progress-block {
      flex-grow: 1;

      padding-top: 5px;
    }

    .progress-block__content {
      padding-bottom: 15px;
      padding-left: 50px;
      padding-right: 50px;
    }

    .progress-block__wrapper {
      padding-top: 50px;
      padding-bottom: 0;
    }

    .progress-block__modules {
      flex-direction: row;
      justify-content: space-between;
    }

    .text-block {
      flex-grow: 1;
      width: 100%;
    }

    .text-block__content {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 30px;
    }

    .form-area {
      min-height: 130px;
      overflow: auto;
    }

    .form-confirm {
      flex-grow: 1;
      width: 100%;
    }

    .form-confirm__wrapper {
      padding-bottom: 0;
    }

    .required-fields__subtext {
      display: inline;
    }
}
