.features {
  background: #f2f2f2;
}

.features__wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding: 70px 20px 0;
}

.features__list {
  list-style-type: none;
}

.features__item-title {
  display: block;
  margin-bottom: 20px;

  font-family: "opensansbold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.features__item-desc {
  margin-bottom: 40px;

  font-family: "opensans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
}

.features__image {
  text-align: center;
  height: 280px;
  overflow: hidden;
}
