.features {
  background: #f2f2f2;
}

.features__wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding: 70px 20px 0;
}

.features__list {
  list-style-type: none;
}

.features__item-title {
  display: block;
  margin-bottom: 20px;

  font-family: "opensansbold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.features__item-desc {
  margin-bottom: 40px;

  font-family: "opensans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
}

.features__image {
  height: 276px;

  text-align: center;

  overflow: hidden;
}

@media screen and (min-width: 540px) {
  .features__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features__list {
    order: 1;
    width: 60%;
  }

  .features__item-title {
    text-align: left;
  }

  .features__item-desc {
    text-align: left;
  }

  .features__image {
    width: 40%;
    height: 480px;

    margin-top: -70px;
    margin-right: 50px;

    overflow: visible;
  }

  .features__image img {
    width: 265px;
    height: 570px;
  }
}
