.features {
  background: #f2f2f2;
}

.features__wrapper {
  min-width: 280px;
  max-width: 960px;
  margin: 0 auto;
  padding: 70px 20px 0;
}

.features__list {
  list-style-type: none;
}

.features__item-title {
  display: block;
  margin-bottom: 20px;

  font-family: "opensansbold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.features__item-desc {
  margin-bottom: 40px;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
}

.features__image {
  height: 276px;

  text-align: center;

  overflow: hidden;
}

@media screen and (min-width: 660px) {
  .features__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 490px;
  }

  .features__list {
    order: 1;
    width: 54%;
  }

  .features__item-title {
    text-align: left;
  }

  .features__item-desc {
    margin-bottom: 40px;

    font-family: "opensans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    text-align: left;
  }

  .features__image {
    position: relative;
    z-index: 10;

    flex-shrink: 0;

    width: 300px;
    height: 480px;
    margin-bottom: 60px;

    text-align: left;
  }

  .features__image img {
    width: 270px;
    height: 550px;
  }
}
