.page-footer__wrapper {
  display: none;
  min-width: 280px;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 20px 40px 20px;

  text-align: center;
}

.page-footer__logo {
  cursor: pointer;

    &:active {
      opacity: 0.3;
    }
}

.page-footer__social {
  margin: 40px 0;
}

.page-footer__social-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 12px;

  border: 3px solid #e9ebec;
  border-radius: 50%;

  font-size: 0px;

  cursor: pointer;

    &--tw {
      background: url("../img/icon-twitter.svg") no-repeat;
      background-position: center;
      background-size: 40%;
    }

    &--fb {
      background: url("../img/icon-facebook.svg") no-repeat;
      background-position: center;
      background-size: 22%;
    }

    &--yb {
      background: url("../img/icon-youtube.svg") no-repeat;
      background-position: center;
      background-size: 40%;
    }

    &:hover {
      border: 3px solid #404c59;
    }

    &:active {
      border: 3px solid #d3d4d5;
      opacity: 0.3;
    }
}

.site-created {
  position: relative;

  display: inline-block;
  padding: 10px 40px 10px 0;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      right: 0;

      display: block;
      width: 38px;
      height: 45px;

      background: url("../img/htmlacademy-red.svg") no-repeat;
      background-position: center;
      background-size: 100%;
    }

    &:active::after {
      opacity: 0.3;
    }
}

@media screen and (min-width: 660px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
  }

  .page-footer__social {
    margin: 0;
  }

}

@media screen and (min-width: 960px) {
  .page-footer__wrapper {
    padding: 20px 20px 60px;

    text-align: center;
  }

  .site-created {
    font-family: "opensans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #283645;
  }

}
