.gallery__wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.gallery__invitation {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 20px;

  font-family: "opensans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #b1b4b8;
  text-align: center;
}

.gallery__panorama img {
  vertical-align: bottom;

  width: 100%;
  min-height: 100%;
  height: auto;
}

.gallery__photo img {
  vertical-align: bottom;

  width: 100%;
  min-height: 100%;
  height: auto;
}

.gallery__photo-info {
  margin-bottom: 20px;
  padding: 20px;

  background: #f2f2f2;
}

.gallery__photo-author {
  font-family: "opensansbold", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #283645;
}

.gallery__photo-time {
  font-family: "opensans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.gallery__photo-about {
  margin-bottom: 10px;

  font-family: "opensans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.gallery__photo-likes {
  font-family: "opensans", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}
