.menu-bar {
  padding: 20px; /* margin-bottom: -70px; */

  background: #283645; /* rgba(0, 0, 0, 0.3) */
  border-bottom: 1px solid #000001;
}

.menu-list {
  list-style-type: none;
}

.menu-list__item {
  background: #283645;

  border-top: 1px solid #485461;
  border-bottom: 1px solid #000001;
}

.menu-list__link {
  display: block;
  padding: 20px;

  font-family: "opensansbold", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.main-promo__wrapper {
  position: relative;

  display: flex;
  min-height: 400px;

  background: #2a3a4a url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: 100%;
  background-position: top center;

    &--level-page {
      min-height: 235px;
    }
}

.page-title {
  margin: auto;
  padding: 20px;

  font-family: "opensanslight", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #a3a6aa;
  text-align: center;
}

.main-promo__image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-promo__image img {
  vertical-align: bottom;
}
