.price {
  background: #f2f2f2;
}

.price__wrapper {
  min-width: 280px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 90px;

  overflow: hidden;

  text-align: left;
}

.price-table {
  width: 840px;
  margin: 0 auto;

  background: #ffffff;
  border-collapse: collapse;
  border: 2px solid #e5e5e5;
}

.price-table img {
  vertical-align: bottom;
}

.price-table__header {
  background: #283645;

  text-align: center;
}

.price-table__row {
  border: 2px solid #e5e5e5;
}

.price-table__col {
  width: 280px;
  padding: 15px 20px;

  border: 2px solid #e5e5e5;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: left;
  text-transform: uppercase;

    &:first-child {
      display: none;
    }
}

.standart-price {
  position: relative;
  padding: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -1px;

      display: block;
      width: 74px;
      height: 73px;

      background: url("../img/bg-hit.svg") no-repeat;
      background-position: center;
      background-size: 100%;

      text-align: center;
    }

    &::after {
      content: "Хит";
      position: absolute;
      top: 4px;
      left: 3px;

      display: block;
      width: 74px;
      height: 73px;

      font-family: "opensansbold", "Arial", sans-serif;
      font-size: 14px;
      line-height: 30px;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;

      transform: rotate(-45deg);
    }
}

.price-table__title {
  font-family: "opensansbold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.price-table__cost {
  display: block;

  font-family: "opensanslight", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #a4a7ac;
  text-align: center;
  text-transform: uppercase;
}

.price-table__option {
  float: right;
}

.price__toggles {
  padding: 43px 0 35px;
  text-align: center;
}

.sliders__toggle {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  margin: 0 7px;

  background: #bec2c7;
  border: none;
  outline: none;
  border-radius: 50%;

  font-size: 0px;

  cursor: pointer;

    &:hover {
      background: #7e868f;
    }

    &:active {
      background: #e9ebec;
    }

    &--active {
      background: #ffffff;
      box-shadow: 0 0 0 3px #283645;
    }
}

@media screen and (min-width: 660px) {
  .price__wrapper {
    padding-top: 68px;
  }

  .price-table {
    width: 100%;
    margin-top: 15px;
  }

  .price-table__header {
    border-top: 3px solid #f2f2f2;
  }

  .price-table__col--empty {
    border-left: 3px solid #f2f2f2;
  }

  .price-table__col {
    width: 145px;
    padding: 8px 10px;

    font-size: 0;
    text-align: center;

      &--empty {
        background: #f2f2f2;
      }

      &--font {
        font-size: 14px;
        text-align: left;
      }

      &:first-child {
        display: table-cell;
      }
    }

    .price-table__title {
      font-family: "opensansbold", "Arial", sans-serif;
      font-size: 16px;
      line-height: 30px;
      color: #ffffff;
    }

    .price-table__cost {
      font-family: "opensanslight", "Arial", sans-serif;
      font-size: 18px;
      line-height: 30px;
      color: #a4a7ac;
    }

    .price-table__col--font {
      font-family: "opensans", "Arial", sans-serif;
      font-size: 14px;
      line-height: 30px;

      text-transform: none;
    }

    .price-table__option {
      float: none;
    }

    .price__toggles {
      padding-bottom: 15px;
    }
}

@media screen and (min-width: 960px) {
  .price__wrapper {
    padding-top: 100px;
  }

  .price-table__title {
    font-family: "opensansbold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
  }

  .price-table__cost {
    font-family: "opensanslight", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #a4a7ac;
  }

  .price-table__col {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .price-table__col--height {
    padding: 20px 0;
  }

}
