.reviews__wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider__list {
  list-style-type: none;
}

.slider__item {
  text-align: center;
}

.reviews__content,
.reviews__title {
  margin: 0;
  padding: 0;
}

.reviews__title {
  display: block;
  margin-top: 45px;
  margin-bottom: 15px;

  font-family: "opensansbold", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-style: normal;
}

.reviews__desc {
  font-family: "opensanslight", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.reviews__toggles {
  padding: 40px 0 30px;
  text-align: center;
}

.sliders__toggle {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  margin: 0 5px;

  background: #bec2c7;
  border: none;
  outline: none;
  border-radius: 50%;

  font-size: 0px;

    &--active,
    &:active {
      background: #ffffff;
      box-shadow: 0 0 0 3px #283645;
    }
}

.reviews::after {
  content: "";
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;

  background: url("../img/bg-triangle-white.svg") no-repeat;
  background-size: 100%;
  background-position: -3px 0;
}
