.story__wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.story__invitation {
  margin-top: 50px;
  margin-bottom: 30px;

  font-family: "opensans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
}

.form-block {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;

  font-family: "opensans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;

   &--gray {
     padding: 0 20px;
     background: #f2f2f2;
   }
}

.form-block__title {
  margin: 40px 0;
  background: #f2f2f2;

  font-family: "opensans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.form-field {
  padding: 10px 20px;
  margin-bottom: 20px;

  border: 2px solid #e5e5e5;
  outline: none;

  font-family: "opensans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.input-label {
  padding: 5px 20px;
}

.input-label {
  font-family: "opensans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.checkbox-label {
  margin-bottom: 20px;

  font-family: "opensans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  text-transform: none;
}

.button {
  &--form {
    font-family: "opensansbold", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.required-fields {
  font-family: "opensans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
}

sup {
  color: #d22856;
}
