.story__invitation {
  margin-top: 50px;
  padding: 0 20px;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #b1b4b8;
  text-align: center;

    &--subtext {
      display: none;
    }
}

.form-block__wrapper {
  min-width: 280px;
  padding: 40px 20px;

    &--gray {
      background: #f2f2f2;
    }

    &--white {
      background: #ffffff;
    }
}

.form-block {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  margin: 0;
  margin: 0 auto;
  padding: 0;

  border: none;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;

   &--gray {
     background: #f2f2f2;
   }

   &--white {
     background: #ffffff;
   }
}

.form-block__title {
  margin-bottom: 40px;

  background: #f2f2f2;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;

    &--gray {
      background: #f2f2f2;
    }

    &--white {
      background: #ffffff;
    }
}

.input-label {
  margin-bottom: 10px;
  margin-left: 20px;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;

    &--centered {
      text-align: center;
    }
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;

  border: 2px solid #e5e5e5;
  outline: none;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;

    &:last-child {
      margin-bottom: 0;
    }
}

.checkbox-label {
  position: relative;

  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 70px;

  cursor: pointer;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  text-transform: none;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;

      width: 38px;
      height: 36px;

      border: 2px solid #e5e5e5;
      border-radius: 3px;
      background: #ffffff;
    }

    &::after {
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;

      display: none;
      width: 36px;
      height: 38px;

      background: url("../img/checkbox.svg") no-repeat;
      background-position: center;
      background-size: 60%;
    }
}

.form-block input[type=checkbox],
.form-block input[type=radio] {
	display: none;
}

input:checked + .checkbox-label::after {
  display: block;
}

.radio-label {
  position: relative;

  margin-bottom: 35px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 70px;

  color: #283645;

  cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;

      width: 38px;
      height: 36px;

      border: 2px solid #e5e5e5;
      border-radius: 50%;
      background: #ffffff;
    }

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 3px;

      display: none;
      width: 15px;
      height: 15px;

      border: 10px solid #ffffff;
      border-radius: 50%;
      background: #d22856;
      background-position: center;
      background-size: 100%;
    }
}

input:checked + .radio-label::after {
  display: block;
}

.form-area {
  width: 100%;
  min-width: 280px;
  min-height: 200px;
  padding: 20px;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form-area:focus::placeholder {
  color: transparent;
}

.button {
  &--form {
    width: 100%;
    margin: 30px 0;
    padding: 15px;

    background: #2aab6d;

    border: none;
    border-radius: 3px;
    outline: none;

    font-family: "opensansbold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;

    cursor: pointer;
  }
}

.required-fields {
  display: block;

  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
  text-align: center;
}

sup {
  color: #d22856;
}

@media screen and (min-width: 660px) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .story__invitation {
    padding-left: 60px;
    padding-right: 60px;

    font-family: "opensans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #b1b4b8;
    text-align: center;

      &--subtext {
        display: inline;
      }
  }

  .input-label {
    margin-left: 0;
  }

  .progress-block {
    order: 3;

      &--white {
        background: #ffffff;
      }
  }

  .contact-block {
    order: 2;

      &--white {
        background: #ffffff;
      }
  }

  .device-block {
    order: 1;

      &--white {
        background: #ffffff;
      }
  }

  .text-block {
    order: 4;
  }

  .form-confirm {
    order: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-block__wrapper {
    background: #ffffff;
  }

  .form-block {
    padding: 25px 60px;
    padding-bottom: 50px;

    border: 2px solid #e5e5e5;

      &--no-border {
        border: none;
      }
  }

  .form-block__title {
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

    background: #ffffff;
  }

  .input-label {
    position: relative;

      &--paddings {
        padding-left: 30px;
        padding-right: 30px;
      }
  }

  .form-field {
    padding-right: 60px;

      &--phone-icon {
        background: url(../img/phone.png) no-repeat;
        background-position: right center;
      }

      &--mail-icon {
        background: url(../img/mail.png) no-repeat;
        background-position: right center;
      }
  }

  .form-field::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 60px;
    height: 60px;

    background: #e5e5e5 url(../img/phone.png) no-repeat;
    background-position: center;
  }

  .button--form {
    width: auto;
    padding: 15px 60px;
  }
}
