.upload__wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  background: #f2f2f2;
}

.upload__invitation {
  margin-top: 45px;
  margin-bottom: 50px;
  padding: 0 40px;

  font-family: "opensans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.upload__editor {
  padding-top: 20px;
  background: #f2f2f2;
}

.upload__image img {
  vertical-align: bottom;

  margin-bottom: 40px;

  width: 100%;
  min-height: 100%;
  height: auto;
}

.upload__editor-tools {
  margin-bottom: 30px;

  text-align: center;
}

.upload__verification {
  padding-bottom: 40px;

  background: #f2f2f2;
}

.button {
  display: inline-block;
  width: 100%;
  padding: 10px;

  outline: none;

  &--confirm {
    margin-bottom: 10px;

    background: transparent;
    border: 3px solid #d22856;
    border-radius: 20px;

    font-family: "opensansbold", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #d22856;
    text-decoration: none;
  }

  &--cancel {
    background: transparent;
    border: 3px solid #dddfe0;
    border-radius: 20px;

    font-family: "opensansbold", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #dddfe0;
    text-decoration: none;
  }
}
